.cookie-consent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: -200px;
    left: calc(50% - 90%/2);
    width: 90%;
    font-size: 12px;
    background: #fff;
    padding: 1.2em;
    box-sizing: border-box;
    border: 1px solid #ddd;
    visibility: visible;
    transition: .5s;
    z-index: 1000;
    font-family:-apple-system, BlinkMacSystemFont,"Hiragino Kaku Gothic ProN", sans-serif;
  }
  .cookie-consent.is-show {
    bottom: 30px;
  }
  .cookie-text {
    width: 90%;
  }
  .cookie-agree {
    color: #fff;
    background: dodgerblue;
    padding: .5em 1.5em;
  }
  .cookie-agree:hover {
    cursor: pointer;
  }
  .cc-hide1 {
    display: none;
  }

  .cc-hide2 {
    animation: hide 1s linear 0s;
    animation-fill-mode: forwards;
  }
  @keyframes hide {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      visibility: hidden;
    }
  }
  @media screen and (max-width: 650px) {
    .cookie-consent {
      flex-direction: column;
      width: 300px;
      left: calc(50% - 300px/2);
    }
    .cookie-text {
      width: 100%;
      margin-bottom: 1em;
    }
  }